#mapzz
{
   position: relative;
} 
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.search{
   width: 50%;
   /* max-width:600px; */
   position: fixed;
   margin-top: 10px;
   left:25%;
   z-index: 999999;
   
}